<form class="post-form">
	<input class="titleForm" type="text" placeholder="Title">
	<input class="bodyForm" type="text"	placeholder="Place your text here...">
	<input type="submit" value="Post">
</form>