<form class="person-form">
	<input class="firstNameForm" type="text" placeholder="First Name">
	<input class="lastNameForm" type="text"	placeholder="Last Name">
	<input class="AaddressForm" type="text"	placeholder="Address">
	<input class="phoneNumberForm" type="text"	placeholder="Phone #">	
	<input type="submit" value="Post" class="submit">
</form>